<div class="row">
  <div class="container col-lg-offset-2 col-lg-8">
    <div class="col-lg-2 pull-right">
      <button class="btn btn-primary btn-link" (click)="addCustomer()">Add New Customer</button>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-lg-offset-2 col-lg-8 container">
    <table class="table table-bordered table-hovered table-condensed">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">City</th>
          <th scope="col">Gender</th>
          <th scope="col">Email</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customerList;let i = index">
          <th scope="row">{{i+1}}</th>
          <td> 
            <input [className]="editableRow != i ? 'readOnlyRow' : 'editableRow'" [(ngModel)]="customer.first_name" [disabled]="editableRow != i" />
          </td>
          <td> 
            <input [className]="editableRow != i ? 'readOnlyRow' : 'editableRow'" [(ngModel)]="customer.address" [disabled]="editableRow != i" />
          </td>
          <td>
            <input [className]="editableRow != i ? 'readOnlyRow' : 'editableRow'" [(ngModel)]="customer.gender" [disabled]="editableRow != i" /></td>
          <td>
            <input [className]="editableRow != i ? 'readOnlyRow' : 'editableRow'" [(ngModel)]="customer.email" [disabled]="editableRow != i" /></td>
          <td>
            <button type="button" class="btn btn-primary btn-link" *ngIf="editableRow != i" (click)="editCustomer(i)"><span
                class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-primary btn-link" *ngIf="editableRow == i" (click)="updateCustomer(customer,i)"><span
                class="glyphicon glyphicon-floppy-disk"></span></button>
            <button class="btn btn-danger btn-link" (click)="deleteCustomer(customer.id,i)"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>